@model LoggingMonkey.Web.Models.IndexViewModel

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf8">

        <title>@ViewBag.Title</title>
        <link href="~/Content/css/normalize.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css">
        <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="~/Content/css/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css">
        <link href="~/Content/css/main.css" rel="stylesheet" type="text/css">
        
        @if (Model.DisplayOptions.UseTinyFont)
        {
            <style>
                @@font-face {
                    font-family: "04b03";
                    src: url("/Content/font/04B_03__.TTF") format("truetype");
                }
		        * {
		            font-family: "04b03";
                    font-size: 8px;
		        }
                h1 a {
                    font-family: 'Pacifico' !important;
                    font-size: 12px !important;
                }
                input, select {
                    font-size: 10px !important;
                }
                #caseSensitiveOption {
                    margin-top: -10px;
                    margin-left: 20px;
                }
                .said-by {
                    padding-right: 0;
                }
            </style>
        }
    </head>
    <body>
